<div class="row">
	<div class="col-md-6" style="margin: 0 auto; float: none;">
		<div class="box box-widget">
			<div class="box-header with-border">
				<div class="user-block">
					<img class="img-circle" src="{{ photo.thumbnailUrl }}" alt="User Image">
					<span class="username">{{ photo.title }}</span>
				</div>
			</div>
			<div class="box-body">
				<img class="img-responsive pad" src="{{ photo.url }}" alt="Photo">
			</div>
			<div class="box-footer">
				<button type="button" class="btn btn-default btn-xs pull-right">Next <i class="fa fa-arrow-right"></i></button>
				<button type="button" class="btn btn-default btn-xs pull-right"><i class="fa fa-arrow-left"></i> Previous</button>
		
				<a [routerLink]="['/archive-details', photo.albumId]" class="btn btn-default btn-xs"><i class="fa fa-reply"></i> Back</a>
				<a routerLink="/archive" class="btn btn-default btn-xs"><i class="fa fa-archive"></i> View All Archive</a>
			</div>
		</div>
	</div>
</div>