/* You can add global styles to this file, and also import other style files */
body, html {
	margin: 0;
	padding: 0;
}

body {
	background: #f8f7f5;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #888888;
}
/* poppins-300 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	src: url("./assets/fonts/poppins/poppins-v5-latin-300.eot");
   /* IE9 Compat Modes */
	src: local("Poppins Light"), local("Poppins-Light"), url("./assets/fonts/poppins/poppins-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/poppins/poppins-v5-latin-300.woff2") format("woff2"), url("./assets/fonts/poppins/poppins-v5-latin-300.woff") format("woff"), url("./assets/fonts/poppins/poppins-v5-latin-300.ttf") format("truetype"), url("./assets/fonts/poppins/poppins-v5-latin-300.svg#Poppins") format("svg");
   /* Legacy iOS */
}
/* poppins-300italic - latin */
@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 300;
	src: url("./assets/fonts/poppins/poppins-v5-latin-300italic.eot");
   /* IE9 Compat Modes */
	src: local("Poppins Light Italic"), local("Poppins-LightItalic"), url("./assets/fonts/poppins/poppins-v5-latin-300italic.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/poppins/poppins-v5-latin-300italic.woff2") format("woff2"), url("./assets/fonts/poppins/poppins-v5-latin-300italic.woff") format("woff"), url("./assets/fonts/poppins/poppins-v5-latin-300italic.ttf") format("truetype"), url("./assets/fonts/poppins/poppins-v5-latin-300italic.svg#Poppins") format("svg");
   /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url("./assets/fonts/poppins/poppins-v5-latin-regular.eot");
   /* IE9 Compat Modes */
	src: local("Poppins Regular"), local("Poppins-Regular"), url("./assets/fonts/poppins/poppins-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/poppins/poppins-v5-latin-regular.woff2") format("woff2"), url("./assets/fonts/poppins/poppins-v5-latin-regular.woff") format("woff"), url("./assets/fonts/poppins/poppins-v5-latin-regular.ttf") format("truetype"), url("./assets/fonts/poppins/poppins-v5-latin-regular.svg#Poppins") format("svg");
   /* Legacy iOS */
}
/* poppins-italic - latin */
@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 400;
	src: url("./assets/fonts/poppins/poppins-v5-latin-italic.eot");
   /* IE9 Compat Modes */
	src: local("Poppins Italic"), local("Poppins-Italic"), url("./assets/fonts/poppins/poppins-v5-latin-italic.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/poppins/poppins-v5-latin-italic.woff2") format("woff2"), url("./assets/fonts/poppins/poppins-v5-latin-italic.woff") format("woff"), url("./assets/fonts/poppins/poppins-v5-latin-italic.ttf") format("truetype"), url("./assets/fonts/poppins/poppins-v5-latin-italic.svg#Poppins") format("svg");
   /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	src: url("./assets/fonts/poppins/poppins-v5-latin-500.eot");
   /* IE9 Compat Modes */
	src: local("Poppins Medium"), local("Poppins-Medium"), url("./assets/fonts/poppins/poppins-v5-latin-500.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/poppins/poppins-v5-latin-500.woff2") format("woff2"), url("./assets/fonts/poppins/poppins-v5-latin-500.woff") format("woff"), url("./assets/fonts/poppins/poppins-v5-latin-500.ttf") format("truetype"), url("./assets/fonts/poppins/poppins-v5-latin-500.svg#Poppins") format("svg");
   /* Legacy iOS */
}
/* poppins-500italic - latin */
@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 500;
	src: url("./assets/fonts/poppins/poppins-v5-latin-500italic.eot");
   /* IE9 Compat Modes */
	src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url("./assets/fonts/poppins/poppins-v5-latin-500italic.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/poppins/poppins-v5-latin-500italic.woff2") format("woff2"), url("./assets/fonts/poppins/poppins-v5-latin-500italic.woff") format("woff"), url("./assets/fonts/poppins/poppins-v5-latin-500italic.ttf") format("truetype"), url("./assets/fonts/poppins/poppins-v5-latin-500italic.svg#Poppins") format("svg");
   /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	src: url("./assets/fonts/poppins/poppins-v5-latin-600.eot");
   /* IE9 Compat Modes */
	src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("./assets/fonts/poppins/poppins-v5-latin-600.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/poppins/poppins-v5-latin-600.woff2") format("woff2"), url("./assets/fonts/poppins/poppins-v5-latin-600.woff") format("woff"), url("./assets/fonts/poppins/poppins-v5-latin-600.ttf") format("truetype"), url("./assets/fonts/poppins/poppins-v5-latin-600.svg#Poppins") format("svg");
   /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src: url("./assets/fonts/poppins/poppins-v5-latin-700.eot");
   /* IE9 Compat Modes */
	src: local("Poppins Bold"), local("Poppins-Bold"), url("./assets/fonts/poppins/poppins-v5-latin-700.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/poppins/poppins-v5-latin-700.woff2") format("woff2"), url("./assets/fonts/poppins/poppins-v5-latin-700.woff") format("woff"), url("./assets/fonts/poppins/poppins-v5-latin-700.ttf") format("truetype"), url("./assets/fonts/poppins/poppins-v5-latin-700.svg#Poppins") format("svg");
   /* Legacy iOS */
}
/* poppins-700italic - latin */
@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 700;
	src: url("./assets/fonts/poppins/poppins-v5-latin-700italic.eot");
   /* IE9 Compat Modes */
	src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url("./assets/fonts/poppins/poppins-v5-latin-700italic.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/poppins/poppins-v5-latin-700italic.woff2") format("woff2"), url("./assets/fonts/poppins/poppins-v5-latin-700italic.woff") format("woff"), url("./assets/fonts/poppins/poppins-v5-latin-700italic.ttf") format("truetype"), url("./assets/fonts/poppins/poppins-v5-latin-700italic.svg#Poppins") format("svg");
   /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 800;
	src: url("./assets/fonts/poppins/poppins-v5-latin-800.eot");
   /* IE9 Compat Modes */
	src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("./assets/fonts/poppins/poppins-v5-latin-800.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/poppins/poppins-v5-latin-800.woff2") format("woff2"), url("./assets/fonts/poppins/poppins-v5-latin-800.woff") format("woff"), url("./assets/fonts/poppins/poppins-v5-latin-800.ttf") format("truetype"), url("./assets/fonts/poppins/poppins-v5-latin-800.svg#Poppins") format("svg");
   /* Legacy iOS */
}
/* poppins-800italic - latin */
@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 800;
	src: url("./assets/fonts/poppins/poppins-v5-latin-800italic.eot");
   /* IE9 Compat Modes */
	src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"), url("./assets/fonts/poppins/poppins-v5-latin-800italic.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/poppins/poppins-v5-latin-800italic.woff2") format("woff2"), url("./assets/fonts/poppins/poppins-v5-latin-800italic.woff") format("woff"), url("./assets/fonts/poppins/poppins-v5-latin-800italic.ttf") format("truetype"), url("./assets/fonts/poppins/poppins-v5-latin-800italic.svg#Poppins") format("svg");
   /* Legacy iOS */
}
/* poppins-900 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 900;
	src: url("./assets/fonts/poppins/poppins-v5-latin-900.eot");
   /* IE9 Compat Modes */
	src: local("Poppins Black"), local("Poppins-Black"), url("./assets/fonts/poppins/poppins-v5-latin-900.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/poppins/poppins-v5-latin-900.woff2") format("woff2"), url("./assets/fonts/poppins/poppins-v5-latin-900.woff") format("woff"), url("./assets/fonts/poppins/poppins-v5-latin-900.ttf") format("truetype"), url("./assets/fonts/poppins/poppins-v5-latin-900.svg#Poppins") format("svg");
   /* Legacy iOS */
}
/* body,
.container,
.main-container {
	background: #2a2b30;
} */
a:focus, a:active {
	text-decoration: none;
	outline: none;
	transition: all 300ms ease 0s;
	-moz-transition: all 300ms ease 0s;
	-webkit-transition: all 300ms ease 0s;
	-o-transition: all 300ms ease 0s;
	-ms-transition: all 300ms ease 0s;
}
input, select, textarea {
	outline: none;
	appearance: unset !important;
	-moz-appearance: unset !important;
	-webkit-appearance: unset !important;
	-o-appearance: unset !important;
	-ms-appearance: unset !important;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	appearance: none !important;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	-o-appearance: none !important;
	-ms-appearance: none !important;
	margin: 0;
}
input:focus, select:focus, textarea:focus {
	outline: none;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-o-box-shadow: none !important;
	-ms-box-shadow: none !important;
}
input[type=checkbox] {
	appearance: checkbox !important;
	-moz-appearance: checkbox !important;
	-webkit-appearance: checkbox !important;
	-o-appearance: checkbox !important;
	-ms-appearance: checkbox !important;
}
input[type=radio] {
	appearance: radio !important;
	-moz-appearance: radio !important;
	-webkit-appearance: radio !important;
	-o-appearance: radio !important;
	-ms-appearance: radio !important;
}
input {
	width: 100%;
	display: block;
	border: none;
	border-bottom: 1px solid #999;
	padding: 6px 30px;
	font-family: Poppins;
	box-sizing: border-box;
}
input::-webkit-input-placeholder {
	color: #999;
}
input::-moz-placeholder {
	color: #999;
}
input:-ms-input-placeholder {
	color: #999;
}
input:-moz-placeholder {
	color: #999;
}
input:focus {
	border-bottom: 1px solid #222;
}
input:focus::-webkit-input-placeholder {
	color: #222;
}
input:focus::-moz-placeholder {
	color: #222;
}
input:focus:-ms-input-placeholder {
	color: #222;
}
input:focus:-moz-placeholder {
	color: #222;
}
input[type=checkbox]:not(old) {
	width: 2em;
	margin: 0;
	padding: 0;
	font-size: 1em;
	display: none;
}
input[type=checkbox]:not(old) + label {
	display: inline-block;
	line-height: 1.5em;
	margin-top: 6px;
}
input[type=checkbox]:not(old) + label > span {
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-right: 15px;
	margin-bottom: 3px;
	border: 1px solid #999;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	background: white;
	background-image: -moz-linear-gradient(white, white);
	background-image: -ms-linear-gradient(white, white);
	background-image: -o-linear-gradient(white, white);
	background-image: -webkit-linear-gradient(white, white);
	background-image: linear-gradient(white, white);
	vertical-align: bottom;
}
input[type=checkbox]:not(old):checked + label > span {
	background-image: -moz-linear-gradient(white, white);
	background-image: -ms-linear-gradient(white, white);
	background-image: -o-linear-gradient(white, white);
	background-image: -webkit-linear-gradient(white, white);
	background-image: linear-gradient(white, white);
}
input[type=checkbox]:not(old):checked + label > span:before {
	content: '\f26b';
	display: block;
	color: #222;
	font-size: 11px;
	line-height: 1.2;
	text-align: center;
	font-family: 'Material-Design-Iconic-Font';
	font-weight: bold;
}
figure {
	margin-bottom: 50px;
	text-align: center;
}
img {
	max-width: 100%;
	height: auto;
}
figure {
	margin: 0;
}
p {
	margin-bottom: 0px;
	font-size: 15px;
	color: #777;
}
h2 {
	line-height: 1.66;
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #222;
	font-family: Poppins;
	font-size: 36px;
}

#mobile {
	height: 667px;
	width: 375px;
	background: #c6c4c1;
	position: relative;
	margin: 30px auto;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	-khtml-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.main-container {
	position: relative;
	z-index: 20;
	width: 100%;
	height: 100%;
	overflow: hidden;
	visibility: visible;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-khtml-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

#header {
	height: 60px;
	background: #eae8e5;
}

#image {
	height: 280px;
	width: 100%;
	overflow: hidden;
	position: relative;
}
#image img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

#title {
	height: 20px;
	width: 200px;
	margin: 40px auto;
	background: #eae8e5;
}

#text .item {
	height: 10px;
	width: calc(100% - 40px);
	margin: 20px auto;
	background: #eae8e5;
}

#burgerBtn {
	border-top: 2px solid #5c5edc;
	height: 25px;
	width: 30px;
	box-sizing: border-box;
	position: absolute;
	z-index: 30;
	left: 20px;
	top: 15px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-khtml-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
#burgerBtn:before {
	content: "";
	display: block;
	position: absolute;
	height: 2px;
	width: 30px;
	left: 0;
	background: #5c5edc;
	top: 10px;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-khtml-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
#burgerBtn:after {
	content: "";
	display: block;
	position: absolute;
	height: 2px;
	width: 30px;
	left: 0;
	background: #5c5edc;
	bottom: 0;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-khtml-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

#nav {
	position: absolute;
	height: 100%;
	z-index: 10;
	margin: 0;
	padding: 100px 0 0;
	overflow: hidden;
	background: #1c1d22;
	list-style-type: none;
}
#nav li {
	height: 30px;
	width: 0;
	-webkit-transition: all 0.6s ease-in;
	-moz-transition: all 0.6s ease-in;
	-khtml-transition: all 0.6s ease-in;
	-o-transition: all 0.6s ease-in;
	transition: all 0.6s ease-in;
}
#nav li + li {
	margin-left: -40px;
}
#nav li + li + li {
	margin-left: -80px;
}
#nav li + li + li + li {
	margin-left: -120px;
}
#nav li a {
	font-weight: 600;
	position: relative;
	display: block;
	padding: 1em 2.5em 1em 1.5em;
	color: #bdbdbd;
	-webkit-transition: color 0.1s;
	transition: color 0.1s;
	font-weight: bold;
	cursor: pointer;
	vertical-align: middle;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
}
#nav li a:hover,
#nav li a.active {
	color: #5c5edc;
}
#demoSelector {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0;
	top: 333px;
	left: 50%;
	margin-left: 227px;
}
#demoSelector li {
	padding: 10px 0 10px 30px;
	position: relative;
	cursor: pointer;
}
#demoSelector li:after {
	content: "";
	position: absolute;
	height: 10px;
	width: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: #d8d5d0;
	left: 0;
	top: 18px;
}
#demoSelector li:before {
	content: "";
	position: absolute;
	height: 18px;
	width: 18px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-khtml-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 12px;
	border: 2px solid #888888;
	left: -6px;
	top: 12px;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-khtml-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-khtml-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
#demoSelector li.active:before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-khtml-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.navigation #nav li {
	width: 300px;
	margin-left: 0;
}
.navigation #burgerBtn {
	border-color: transparent;
}
.navigation #burgerBtn:before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-khtml-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 33px;
	left: -2px;
}
.navigation #burgerBtn:after {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-khtml-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	bottom: 11px;
	width: 33px;
	left: -2px;
}

.demo1.navigation .main-container {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-khtml-transform: scale(0.85);
	-o-transform: scale(0.85);
	transform: scale(0.85);
	margin-left: 260px;
}

.demo2.navigation .main-container {
	margin-left: 320px;
	-webkit-opacity: 0.4;
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	-o-opacity: 0.4;
	opacity: 0.4;
}

.main-wrapper.navigation .main-container {
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-khtml-transform: scale(0.85);
	-o-transform: scale(0.85);
	transform: scale(0.85);
	visibility: hidden;
}

footer {
	position: fixed;
	z-index: 1000;
	left: 0;
	bottom: 0;
	display: block;
	padding: 20px;
	box-sizing: border-box;
}

footer a {
	text-decoration: none;
	display: block;
	width: 50px;
}

footer a svg {
	width: 100%;
	max-width: 50px;
	min-width: 40px;
	display: inline-block;
}
/* Box Component */
.box {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	border-top: 3px solid #d2d6de;
	margin-bottom: 20px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box.box-primary {
	border-top-color: #3c8dbc;
}
.box.box-info {
	border-top-color: #00c0ef;
}
.box.box-danger {
	border-top-color: #dd4b39;
}
.box.box-warning {
	border-top-color: #f39c12;
}
.box.box-success {
	border-top-color: #00a65a;
}
.box.box-default {
	border-top-color: #d2d6de;
}
.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
	display: none;
}
.box .nav-stacked > li {
	border-bottom: 1px solid #f4f4f4;
	margin: 0;
}
.box .nav-stacked > li:last-of-type {
	border-bottom: none;
}
.box.height-control .box-body {
	max-height: 300px;
	overflow: auto;
}
.box .border-right {
	border-right: 1px solid #f4f4f4;
}
.box .border-left {
	border-left: 1px solid #f4f4f4;
}
.box.box-solid {
	border-top: 0;
}
.box.box-solid > .box-header .btn.btn-default {
	background: transparent;
}
.box.box-solid > .box-header .btn:hover,
.box.box-solid > .box-header a:hover {
	background: rgba(0, 0, 0, 0.1);
}
.box.box-solid.box-default {
	border: 1px solid #d2d6de;
}
.box.box-solid.box-default > .box-header {
	color: #444;
	background: #d2d6de;
	background-color: #d2d6de;
}
.box.box-solid.box-default > .box-header a,
.box.box-solid.box-default > .box-header .btn {
	color: #444;
}
.box.box-solid.box-primary {
	border: 1px solid #3c8dbc;
}
.box.box-solid.box-primary > .box-header {
	color: #fff;
	background: #3c8dbc;
	background-color: #3c8dbc;
}
.box.box-solid.box-primary > .box-header a,
.box.box-solid.box-primary > .box-header .btn {
	color: #fff;
}
.box.box-solid.box-info {
	border: 1px solid #00c0ef;
}
.box.box-solid.box-info > .box-header {
	color: #fff;
	background: #00c0ef;
	background-color: #00c0ef;
}
.box.box-solid.box-info > .box-header a,
.box.box-solid.box-info > .box-header .btn {
	color: #fff;
}
.box.box-solid.box-danger {
	border: 1px solid #dd4b39;
}
.box.box-solid.box-danger > .box-header {
	color: #fff;
	background: #dd4b39;
	background-color: #dd4b39;
}
.box.box-solid.box-danger > .box-header a,
.box.box-solid.box-danger > .box-header .btn {
	color: #fff;
}
.box.box-solid.box-warning {
	border: 1px solid #f39c12;
}
.box.box-solid.box-warning > .box-header {
	color: #fff;
	background: #f39c12;
	background-color: #f39c12;
}
.box.box-solid.box-warning > .box-header a,
.box.box-solid.box-warning > .box-header .btn {
	color: #fff;
}
.box.box-solid.box-success {
	border: 1px solid #00a65a;
}
.box.box-solid.box-success > .box-header {
	color: #fff;
	background: #00a65a;
	background-color: #00a65a;
}
.box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn {
	color: #fff;
}
.box.box-solid > .box-header > .box-tools .btn {
	border: 0;
	box-shadow: none;
}
.box.box-solid[class*='bg'] > .box-header {
	color: #fff;
}
.box .box-group > .box {
	margin-bottom: 5px;
}
.box .knob-label {
	text-align: center;
	color: #333;
	font-weight: 100;
	font-size: 12px;
	margin-bottom: 0.3em;
}
.box > .overlay,
.overlay-wrapper > .overlay,
.box > .loading-img,
.overlay-wrapper > .loading-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.box .overlay,
.overlay-wrapper .overlay {
	z-index: 50;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 3px;
}
.box .overlay > .fa,
.overlay-wrapper .overlay > .fa {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
	color: #000;
	font-size: 30px;
}
.box .overlay.dark,
.overlay-wrapper .overlay.dark {
	background: rgba(0, 0, 0, 0.5);
}
.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
	content: " ";
	display: table;
}
.box-header:after,
.box-body:after,
.box-footer:after {
	clear: both;
}
.box-header {
	color: #444;
	display: block;
	padding: 10px;
	position: relative;
}
.box-header.with-border {
	border-bottom: 1px solid #f4f4f4;
}
.collapsed-box .box-header.with-border {
	border-bottom: none;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
	display: inline-block;
	font-size: 18px;
	margin: 0;
	line-height: 1;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion {
	margin-right: 5px;
}
.box-header > .box-tools {
	position: absolute;
	right: 10px;
	top: 5px;
}
.box-header > .box-tools [data-toggle="tooltip"] {
	position: relative;
}
.box-header > .box-tools.pull-right .dropdown-menu {
	right: 0;
	left: auto;
}
.box-header > .box-tools .dropdown-menu > li > a {
	color: #444 !important;
}
.btn-box-tool {
	padding: 5px;
	font-size: 12px;
	background: transparent;
	color: #97a0b3;
}
.open .btn-box-tool,
.btn-box-tool:hover {
	color: #606c84;
}
.btn-box-tool.btn:active {
	box-shadow: none;
}
.box-body {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 10px;
}
.no-header .box-body {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.box-body > .table {
	margin-bottom: 0;
}
.box-body .fc {
	margin-top: 5px;
}
.box-body .full-width-chart {
	margin: -19px;
}
.box-body.no-padding .full-width-chart {
	margin: -9px;
}
.box-body .box-pane {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 3px;
}
.box-body .box-pane-right {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 0;
}
.box-footer {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top: 1px solid #f4f4f4;
	padding: 10px;
	background-color: #fff;
}
.chart-legend {
	margin: 10px 0;
}
@media (max-width: 991px) {
	.chart-legend > li {
		float: left;
		margin-right: 10px;
	}
}
.box-comments {
	background: #f7f7f7;
}
.box-comments .box-comment {
	padding: 8px 0;
	border-bottom: 1px solid #eee;
}
.box-comments .box-comment:before,
.box-comments .box-comment:after {
	content: " ";
	display: table;
}
.box-comments .box-comment:after {
	clear: both;
}
.box-comments .box-comment:last-of-type {
	border-bottom: 0;
}
.box-comments .box-comment:first-of-type {
	padding-top: 0;
}
.box-comments .box-comment img {
	float: left;
}
.box-comments .comment-text {
	margin-left: 40px;
	color: #555;
}
.box-comments .username {
	color: #444;
	display: block;
	font-weight: 600;
}
.box-comments .text-muted {
	font-weight: 400;
	font-size: 12px;
}
.form-control-feedback {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	pointer-events: none;
}
.form-group-sm .form-control+.form-control-feedback, 
.input-group-sm+.form-control-feedback, 
.input-sm+.form-control-feedback {
	width: 30px;
	height: 30px;
	line-height: 30px;
}

.user-block:before,
.user-block:after {
	content: " ";
	display: table;
}
.user-block:after {
	clear: both;
}
.user-block img {
	width: 40px;
	height: 40px;
	float: left;
}
.user-block .username,
.user-block .description,
.user-block .comment {
	display: block;
	margin-left: 50px;
}
.user-block .username {
	font-size: 16px;
	font-weight: 600;
}
.user-block .description {
	color: #999;
	font-size: 13px;
}
.user-block.user-block-sm .username,
.user-block.user-block-sm .description,
.user-block.user-block-sm .comment {
	margin-left: 40px;
}
.user-block.user-block-sm .username {
	font-size: 14px;
}
.img-sm,
.img-md,
.img-lg,
.box-comments .box-comment img,
.user-block.user-block-sm img {
	float: left;
}
.img-sm,
.box-comments .box-comment img,
.user-block.user-block-sm img {
	width: 30px !important;
	height: 30px !important;
}
.img-sm + .img-push {
	margin-left: 40px;
}
.img-md {
	width: 60px;
	height: 60px;
}
.img-md + .img-push {
	margin-left: 70px;
}
.img-lg {
	width: 100px;
	height: 100px;
}
.img-lg + .img-push {
	margin-left: 110px;
}
.img-bordered {
	border: 3px solid #d2d6de;
	padding: 3px;
}
.img-bordered-sm {
	border: 2px solid #d2d6de;
	padding: 2px;
}